<header class="header">
    <nav class="container">
      <div
        class="nav-content d-flex justify-content-space-between align-items-center"
      >
        <a href="#"
          ><img
            class="nav-logo"
            src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/logo-white.png?raw=true"
            width="80"
            height="49"
            alt="logo"
        /></a>
        <ul class="nav-item d-flex">
          <li><a class="nav-item-content d-block" href="#">系列鏡框</a></li>
          <li><a class="nav-item-content d-block" href="#">門市據點</a></li>
          <li><a class="nav-item-content d-block" href="#">部落格</a></li>
          <li><a class="nav-item-content d-block" href="#">常見問題</a></li>
        </ul>
      </div>
    </nav>
  </header>